[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
# testing
pytest = "*"
pytest-env = "*"
pytest-mock = "*"
pytest-cov = "*"

# pre-commit hooks
pre-commit = "*"

[requires]
python_version = "3.10"
